.Feedback .right {
    border: 1px solid yellow;
}

.Feedback .RightText {
    width: 50%;
    margin: auto;
}

.Feedback .box {
    padding: 10px;
    border: 1px solid lightgoldenrodyellow;
}

.Feedback .details h1 {
    margin: 10px 0 10px 0;
    font-size: 35px;
}

.Feedback .details p {
    font-size: 17px;
}

.Feedback .button {
    margin-top: 10px;

}

.Feedback button {
    margin-right: 12px;
}


.Feedback .input span {
    font-size: 15px;
    margin: 10px;
}

.Feedback input {
    margin-top: 5px;
}

.Feedback .right button {

    width: 100%;
    color: #ff014f;
    font-weight: 700;
}

.Feedback .right button:hover {
    color: white;
}

.Feedback .right button i {
    margin-left: 10px;
}