.Contact .right {
    border: 1px solid yellow;
    max-height: fit-content
}

.Contact .RightText {
    width: 90%;
    margin: auto;

}

.Contact .text {
    margin: 15px;
    padding-top: 10px;

}

.Contact .box {
    padding: 10px;
    border: 1px solid lightgoldenrodyellow;
}

.Contact .details h1 {
    margin: 10px 0 10px 0;
    font-size: 35px;
}

.Contact .details p {
    font-size: 10px;
}

.Contact .button {
    margin-top: 10px;

}

.Contact button {
    margin-right: 12px;
}


.Contact .input span {
    font-size: 13px;
    margin: 10px;
}

.Contact input {
    margin-top: 5px;
}

.Contact .right button {

    width: 100%;
    color: #ff014f;
    font-weight: 700;
}

.Contact .right button:hover {
    color: white;
}

.Contact .right button i {
    margin-left: 10px;
}