.features .box {
    padding: 10px;
    padding-left: 20px;
    border: 1px solid lemonchiffon;
}

.features .box h2 {
    margin: 10px 0 10px 0;
}

.features .box img {
    height: 30px;
    margin: 20px;

}

.features .box p {
    word-spacing: 2px;
    transition: 0.5s;
}

.features .box i {
    font-size: 30px;
    margin-top: 20px;
    transition: 0.5s;
    opacity: 0;
}

.features .box:hover p {
    color: white;
}

.features .box:hover i {
    color: white;
    opacity: 1;
}

.picture {
    height: 80px;

}